<p id="notice"><%= notice %></p>

<%= image_tag @artist.photo.url(:thumb) %>

<p>
  <strong>Username:</strong>
  <%= @artist.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @artist.address %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
