<div class="container">

<div class="row">
      <div class="col-xs-4 col-xs-offset-4">
         <div class="container_dashboard">
<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @artwork.photo.url %>
</p>

<p>
  <strong>Pickup only:</strong>
  <%= @artwork.pickup_only %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @artwork.dimensions %>
</p>

<p>
  <strong>Color:</strong>
  <%= @artwork.color %>
</p>

<% if @artwork.artist == current_artist %>
<%= link_to 'Edit', edit_artwork_path(@artwork) %>
<% end %>|
<%= link_to 'Back', artworks_path %>
</div>

</div>
