<%= form_for(@medium) do |f| %>
  <% if @medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% @medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :artwork_id %><br>
    <%= f.text_field :artwork_id %>
  </div>
  <div class="field">
    <%= f.label :supply_id %><br>
    <%= f.text_field :supply_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
